{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "chat_ml/mystyle.css" %}">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var $div=$("<div>",{'class':"answer"});
                $div.text("Hey , You can ask me anything about Sopra Steria. I'll try my best to anwser your queries. You can start by asking about how can we help in your business, our products, services, history or the domains we work in. Type 'help to get the list of topics I have knowledge of.")
            $('#chatbox').append($div);
            $('#check').change(function () {
                var $div=$("<div>",{'class':"answer"});

                if($('#check').prop('checked')==true){
                   $div.text("This Chat App is now powered by Logistic Regression");


               }
               else{
                   $div.text("This Chat App is now powered by TensorFlow. If you feel you are not getting the desired result, toggle the switch to get back to Logistic Regression.")

               }
                $('#chatbox').append($div);
                window.scrollTo(0,document.body.scrollHeight);


            });
           $('#sub').click(function(e){
               e.preventDefault();
              q=$('#query').val();
              $('#query').val("");
                var $div=$("<div>",{'class':"question"});
                $div.text(q)
               $('#chatbox').append($div)

               var path=""
               if($('#check').prop('checked')==true){
                   path="{% url 'chatapp:home' %}"


               }
               else{
                   path="{% url 'chatapp:tensorflow' %}"

               }
              $.ajax({
                type: 'POST',
                url: path,
                data: {
                    query:q,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function (data) {
                    console.log(data)
                    var $div=$("<div>",{'class':"answer"});
                $div.text(data)
               $('#chatbox').append($div)

                    window.scrollTo(0,document.body.scrollHeight);
                }

});
           });


        });
    </script>

</head>
<body >
<div id="chatbox" >

</div>
<div id="form">
<form action="" method="POST">
    {% csrf_token %}
    <label class="switch">
      <input id="check" type="checkbox" checked="checked">
      <div class="slider round"></div>
    </label>
    <input type="text" name="query" id="query" autocomplete="off">
    <button type="submit" href="{% url 'chatapp:home' %}" id="sub">Send</button>

</form>
</div>

</body>


</html>