<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="https://dc-js.github.io/dc.js/css/dc.css"/>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <script src="https://dc-js.github.io/dc.js/js/d3.js"></script>
    <script src="https://dc-js.github.io/dc.js/js/crossfilter.js"></script>

    <script src="https://dc-js.github.io/dc.js/js/dc.js"></script>




</head>
<body>
    <script>
        $(document).ready(function () {
            var data={{ data|safe }};
            var mydata=crossfilter({{ data|safe }});
            var xdimension=mydata.dimension(function (d) {
            return d.pclass;

            });
            console.log(mydata.size());
            var ygroup=xdimension.group().reduceCount();
            console.log(ygroup.top(2)[1].value);
            console.log(ygroup.top(2)[1].key);
            var barchart=dc.rowChart('#barChart');

            barchart
                .width(1300)
                .height(480)
                .elasticX(true)
                .x(d3.scale.ordinal().domain(data.map(function (d) {return d.pclass; })))
                .dimension(xdimension)
                .group(ygroup);

            var datatable   = dc.dataTable("#dc-data-table");

            datatable
                .dimension(xdimension)
                .group(function(d) {return d.pclass;})
                // dynamic columns creation using an array of closures
                .columns([
                    function(d) {return d.pclass;},
                    function(d) {return d.query;},
                    function(d) {return d.prob;},
                    function(d) {return d.session;}
                ]);

            dc.renderAll();






{#            d3.csv("processedchatdata.csv",function (data) {#}
{#            console.log(data);#}
{#            var mydata=crossfilter(data);#}
{#            var xdimension=mydata.dimension(function (d) {#}
{#            return d.Intent;#}
{##}
{#            });#}
{#            console.log(mydata.size());#}
{#            var ygroup=xdimension.group().reduceCount();#}
{#            console.log(ygroup.top(2)[1].value);#}
{#            console.log(ygroup.top(2)[1].key);#}
{#            var barchart=dc.rowChart('#barChart');#}
{##}
{#            barchart#}
{#                .width(1300)#}
{#                .height(480)#}
{#                .elasticX(true)#}
{#                .x(d3.scale.ordinal().domain(data.map(function (d) {return d.Intent; })))#}
{#                .dimension(xdimension)#}
{#                .group(ygroup);#}
{##}
{#            var datatable   = dc.dataTable("#dc-data-table");#}
{##}
{#            datatable#}
{#                .dimension(xdimension)#}
{#                .group(function(d) {return d.Intent;})#}
{#                // dynamic columns creation using an array of closures#}
{#                .columns([#}
{#                    function(d) {return d.Intent;},#}
{#                    function(d) {return d.question;},#}
{#                    function(d) {return d.answer;},#}
{#                ]);#}
{##}
{#            dc.renderAll();#}
{##}
{##}
{#        });#}

        });








    </script>

<div id="barChart"></div>
<div style='clear:both;'>
		<table id="dc-data-table">
			<thead>
			<tr class="header">
				<th>intent</th>
				<th>question</th>
				<th>confidence</th>
                <th>session</th>

			</tr>
			</thead>
		</table>
</div>

</body>
</html>