<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="https://dc-js.github.io/dc.js/css/dc.css"/>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <script src="https://dc-js.github.io/dc.js/js/d3.js"></script>
    <script src="https://dc-js.github.io/dc.js/js/crossfilter.js"></script>

    <script src="https://dc-js.github.io/dc.js/js/dc.js"></script>




</head>
<body>
    <script>
        function Intent(mydata,data) {
            var xdimension=mydata.dimension(function (d) {
            return d.pclass;

            });
            console.log(mydata.size());
            var ygroup=xdimension.group().reduceCount();
            console.log(ygroup.top(2)[1].value);
            console.log(ygroup.top(2)[1].key);
            var rowchart=dc.rowChart('#rowChartIntent');

            rowchart
                .width(1300)
                .height(480)
                .elasticX(true)
                .x(d3.scale.ordinal().domain(data.map(function (d) {return d.pclass; })))
                .dimension(xdimension)
                .group(ygroup);


        }
        function Session(mydata,data) {

            var xdimension=mydata.dimension(function (d) {
            return d.session;

            });
            console.log(mydata.size());
            var ygroup=xdimension.group().reduceCount();
            var rowchartS=dc.rowChart('#rowChartSession');

            rowchartS
                .width(1300)
                .height(480)
                .elasticX(true)
                .x(d3.scale.ordinal().domain(data.map(function (d) {return d.session; })))
                .dimension(xdimension)
                .group(ygroup);

        }
        function PieChart(mydata) {
            var xdimension=mydata.dimension(function (d) {
            return d.backend;

            });
            var ygroup=xdimension.group().reduceCount();

            var chart=dc.pieChart('#PieChart');
            chart
                .width(768)
                .height(480)
                .slicesCap(4)
                .innerRadius(100)
                .dimension(xdimension)
                .group(ygroup)
                .colors(d3.scale.ordinal().range(['#2510e0','#e01111']))



        }
        function DataTable(mydata) {
            var xdimension=mydata.dimension(function (d) {
            return d.pclass;

            });
            var datatable   = dc.dataTable("#dc-data-table");

            datatable
                .dimension(xdimension)
                .group(function(d) {return d.pclass;})
                // dynamic columns creation using an array of closures
                .columns([
                    function(d) {return d.pclass;},
                    function(d) {return d.query;},
                    function(d) {return d.prob;},
                    function(d) {return d.session;},
                    function (d) {return d.backend;}
                ]);

        }
        $(document).ready(function () {
            var data={{ data|safe }};
            var mydata=crossfilter({{ data|safe }});
            Intent(mydata,data);
            Session(mydata,data);
            DataTable(mydata);
            PieChart(mydata);
            dc.renderAll();

        });

    </script>

<div id="rowChartIntent"></div>
<div id="rowChartSession"></div>
<div id="PieChart"></div>


<div style='clear:both;'>
		<table id="dc-data-table">
			<thead>
			<tr class="header">
				<th>intent</th>
				<th>question</th>
				<th>confidence</th>
                <th>session</th>

			</tr>
			</thead>
		</table>
</div>

</body>
</html>