#answer{

    color:white;
    background-color:blue;
    padding: 25px;
    margin: 25px;
    max-width:60%;
    clear:both;
    float:left;
    border-radius: 25px
}
#question{
    color:black;
    background-color:#edeeef;
    font-size:15px;
    padding: 25px;
    margin: 25px;
    max-width:60%;
    clear:both;
    float:right;
    border-radius: 25px
}
#form{
    position:fixed;
    bottom:0px;
    width: 100%;
    height: 6%
}

#query{
    float: left;
    width: 80%;
    height: 100%
}

#sub{
    float: right;
    width: 20%;
    height: 100%
}