<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Training</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.intents').change(function() {
                if ($(this).val() == "new") {
                     alert("change2");
                }

            })
            console.log({{ intents }})
            $(document).on('change','select',function () {
                alert("change");
                if($(this).val()=='new'){
                    var $input=$("<input>")
                    var $input2=$("<input>")

                    $(this).parent().append($input)
                    $(this).parent().append($input2)

                }


            })

        })

    </script>

</head>


{% block body %}
    {% for c in queries %}
        <div>
        <div>{{ c.date }}</div>
        <div>{{ c.query }}</div>
        <div>{{ c.pclass }}</div>

        <select class="intents">
            <option value="new">New Intent</option>

        {% for k in intents %}
            <option value="{{ k }}">{{ k }}</option>
        {% endfor %}
        </select>


        </div>
    {% endfor %}
{% endblock %}


</html>